# LDAP Authentication (ACTUAL - OpenLDAP/RedHat)
LDAP_ENABLED=true
LDAP_HOST=ldap1.cah.gov.py
LDAP_PORT=389
LDAP_BASE_DN=ou=People,dc=cah,dc=gov,dc=py
LDAP_GROUP_BASE_DN=dc=cah,dc=gov,dc=py
LDAP_BIND_DN=uid=jhon.pepe,ou=Desarrollo de Sistemas,ou=Gerencia Operaciones y Tecnologia,ou=People,dc=cah,dc=gov,dc=py
LDAP_BIND_PASSWORD=
LDAP_SSL=false
LDAP_TIMEOUT=10
APP_TIMEZONE=America/Asuncion

# Auditoria de ejecuciones (JSON por linea)
AUDIT_ENABLED=true
# Si se deja vacio, guarda en docs/ldap/execution_ldap_audit.log dentro del proyecto
AUDIT_LOG_PATH=
